AWS_REGION=us-east-1
AWS_PROFILE=pearl-dev
PEARL_ENV=local

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pearl_payroll
POSTGRES_USER=pearl
POSTGRES_PASSWORD=pearl_local_only

LOCALSTACK_ENDPOINT=http://localhost:4566
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
